#main-grid-container {
    display: flex;
    flex-wrap: wrap;
    /* Takes up 80% of whichever viewport dimension is smaller (width vs height) */
    width: 75vmin;
    height: 75vmin;

    /* Center container on the screen */
    margin: 0  auto;
    
}

   
.grid-section {
    background-color: #2613d1;
    
    box-sizing: border-box;
    width: 5%;
    height:2.5%;
}